// /*!=================-COLORS-=================!*/
$link: #4d4959;
$text: #848789;
$title: #353738;

$white: #ffffff;
$white-light: rgba(255, 255, 255, 0.5);

$line: #d7d7d7;
$time: #8c8e90;

$bg: #222429;
$bg-light: #f7f7f7;
$bg-shop: #282f35;
$input: #d3d7d9;
$input-f: #a9aeb1;
$plhldr: #d0d0d0;

$doted: #c9c9c9;
$doted-active: #a9afb3;
$btn: #64c29e;

$hover: rgba(100, 194, 158, 0.8);
