// /*!=================-COLORS-=================!*/
$link: #4d4959;
$text: #848789;
$title: #353738;

$white: #ffffff;

$line: #d7d7d7;

$bg: #222429;
$bg-light: #f7f7f7;
$hover: rgba(100, 194, 158, 0.8);
