// /*!=================-TYPOGRAPHY-=================!*/

%link-menu,
%title,
%shop {
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2.8px;
}

%link-menu {
  font-size: 13px;
  letter-spacing: 2.6px;
}

%title {
  line-height: 1.2;
}

%text {
  line-height: 1.889;
}

%text-j {
  font-size: 16px;
  line-height: 1.875;
}

%text-tw {
  font-size: 24px;
  font-style: italic;
  line-height: 1.417;
}
%shop {
  font-size: 14px;
  line-height: 1.2;
}
