/**======================-ABOUT-US-=================*/
.about-us {
  background-color: $bg-light;
  padding: 115px 0px;
  @media (max-width: 767px) {
    padding: 65px 0px;
  }
  @media (max-width: 424px) {
    padding: 35px 0px;
  }
  &__block {
  }
}
