/**======================-SLIDER-=================*/

// /* Конкретный слайдер */
.slider {
  background-color: $bg-light;
  padding: 120px 0px 60px 0px;
  &__body {
  }

  &__item {
    text-align: center;
  }

  &__icon {
    display: inline-block;
    margin: 0px 0px 30px 0px;
  }

  &__title {
    @extend %title;
    text-transform: none;
    margin: 0px 0px 20px 0px;
    span {
      color: $time;
    }
  }

  &__text {
    @extend %text-tw;
    color: $time;
  }
  @media (max-width: 767px) {
    padding: 60px 0px 30px 0px;
  }
}
