/**======================-WORK-=================*/
.work {
  &--rev {
    .work__column {
      order: 1;
      &--b {
        order: 2;
      }
    }
  }
  &--last {
  }
  &__row {
    display: flex;
    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1 0 33.333%;
    &--b {
      flex: 1 0 66.667%;
    }
  }

  &__item {
  }

  &__content {
    padding: 70px 65px 55px 65px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -10px;
      left: 50%;
      margin: 0px 0px 0px -10px;
      border-top: 10px solid $white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      z-index: 2;
    }
    @media (max-width: 1439px) {
      padding: 40px 25px 35px 35px;
    }
  }

  &__img {
    padding: 0px 0px 37.51% 0px;
  }
  @media (max-width: 1023px) {
    &--last {
      .work__column {
        &:nth-child(1) {
          order: 3;
        }
        &:nth-child(2) {
          order: 1;
        }
        &:nth-child(3) {
          order: 2;
        }
      }
    }
  }
}
