/**======================-WORK-=================*/
.work {
  &--rev {
    .work__column {
      order: 1;
      @media (max-width: 1023px) {
        display: flex;
        flex-direction: column-reverse;
      }
      &--b {
        order: 2;
      }
    }
  }
  &__row {
    display: flex;
    @media (max-width: 1023px) {
      flex-direction: column;
    }
  }

  &__column {
    flex: 1 0 33.333%;
    &--b {
      flex: 1 0 66.667%;
    }
  }

  &__item {
  }

  &__content {
    padding: 70px 65px 55px 65px;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      bottom: -10px;
      left: 50%;
      margin: 0px 0px 0px -10px;
      border-top: 10px solid $white;
      border-left: 10px solid transparent;
      border-right: 10px solid transparent;
      z-index: 2;
    }
    @media (max-width: 1439px) {
      padding: 40px 25px 35px 35px;
    }
  }

  &__img {
    padding: 0px 0px 37.51% 0px;
  }
}
.item {
  display: block;
  position: relative;
  height: 100%;
  &__logo {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    transition: 0.3s all ease;
    visibility: hidden;
    opacity: 0;
    background-color: $hover;
  }
  &:hover &__logo {
    visibility: visible;
    opacity: 1;
  }
  &__img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }
  @media (max-width: 1023px) {
    height: auto;
    padding: 0px 0px 65% 0px;
  }
}
.block {
  &__text--j {
    @extend %text-j;
    &:after {
      content: "";
      display: block;
      margin: 30px auto 0px auto;
      width: 50px;
      height: 1px;
      background-color: $line;
      @media (max-width: 1439px) {
        margin: 25px auto 0px auto;
      }
    }
  }
}
